* {
  margin: 0;
  padding: 0;
}
.container {
  align-content: center;
}
button {
  align-self: center;
}
#square {
  margin-right: 2%;
  background-color: rgb(167, 65, 180);
  cursor: pointer;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#display {
  margin-left: 30%;
  align-items: center;
  color: black;
  /* text-align: center; */
  line-height: 65px;
  font-size: larger;
  font-style: italic;
  font-weight: 900;
}
#full {
  margin-left: 25%;
  align-items: center;
}
.button {
  width: 112px;
  height: 58px;
  border: solid 1px #9ac404;
  background-color: #d9f14cdc;
  text-align: center;
  border-radius: 25%;
  line-height: 58px;
  cursor: pointer;
}
.highlight {
  transform: translateY(1px);
  box-shadow: 0 15px rgb(3, 120, 216);
}

#anim {
  position: fixed;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  top: 65%;
}
#anim.active {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mymove 2s;
  animation-direction: normal;
  /* transform: translate(1000px, 0px); */
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 1000px;
  }
}
